header {
	color: #fff;
}

/*--------------- Hero Background ---------------*/
.hero-bg-img,
.hero-bg-cloud-img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.2;
	max-height: 47.5em;
}

.hero-bg-cloud-img {
	opacity: 0.2;
}

.hero-bg-img img,
.hero-bg-cloud-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: bottom;
}

.hero-bg-cloud-img img {
	object-fit: cover;
	object-position: left;
}

/*--------------- Hero ---------------*/

.hero {
	display: flex;
	justify-content: space-around;
	align-items: center;

	background-color: rgb(33, 33, 33);
	height: 47.5em;
}

.hero-body {
	position: relative;
	bottom: 4em;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	flex-grow: 2;
}

.hero-body .hero-heading {
	font-size: 2.3em;
}

@media screen and (max-width: 600px) {
	.hero-body .hero-heading {
		padding-left: 0.2em;
	}
}

/*--------------- Hero Filter ---------------*/

.hero-filter {
	background: radial-gradient(
		35.67% 267.37% at 50% 50%,
		#696968 0%,
		#1d1d1b 100%
	);
	border: 1px solid;
	border-image-source: radial-gradient(
		35.7% 267.61% at 50% 50%,
		#ffffff 0%,
		#1d1d1b 100%
	);
	padding: 40px;
	border-radius: 100px;
	width: 85%;
}

.hero-body .hero-filter ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	color: #000;
	padding-left: 4em;
	height: 5em;
	border-radius: 100px;
	flex-grow: 1;
	font-size: 0.7em;
	color: #575756;
}

.hero-body .hero-filter ul .down-icn {
	font-size: 0.6em;
}

.hero-body .hero-filter ul .hero-filter-btn {
	flex-basis: 20%;
	height: 100%;
}

.hero-body .hero-filter ul .hero-filter-btn button {
	color: #fff;
	font-size: 1.85em;
	font-weight: 400;
	border-bottom-right-radius: 100px;
	border-top-right-radius: 100px;
	background-color: red;
	width: 100%;
	height: 100%;
	border: none;
	cursor: pointer;
	transition: 0.2s all ease-out;
}

.hero-body .hero-filter ul .hero-filter-btn button:hover {
	background-color: #1e1e20;
}

.hero-body .hero-filter ul .hero-filter-btn button .search-icn {
	position: relative;
	right: 7px;
	top: 3px;
}

@media screen and (max-width: 992px) {
	.hero-body .hero-filter ul {
		padding-left: 1.5em;
	}
}

@media screen and (max-width: 768px) {
	.hero-filter {
		display: none;
	}
}

/*--------------- Hero Buttons ---------------*/

.hero-body .btns {
	display: flex;
	gap: 30px;
}

.hero-body .btns button {
	border: none;
	border-radius: 30px;
	padding-inline: 20px;
	padding-top: 11px;
	padding-bottom: 6px;
	font-size: 0.75em;
	background-color: #fff;
	cursor: pointer;
	transition: 0.2s all ease-in-out;
}

.hero-body .btns button:hover,
.hero-body .btns button:nth-last-child(1):hover {
	background-color: #1e1e20;
	color: #fff;
}

.hero-body .btns button:hover svg path {
	fill: #fff;
}

.hero-body .btns button:nth-last-child(1) {
	background-color: #e30613;
	color: #fff;
}

.hero-body .btns button .btn-txt {
	padding-bottom: 10px;
	padding-right: 10px;
}

@media screen and (max-width: 576px) {
	.hero-body .btns {
		flex-direction: column;
		gap: 12px;
	}

	.hero-body .btns button {
		width: 80vw;
	}
}

/*--------------- Hero Arrows ---------------*/

.arrow {
	font-size: 3em;
	flex-grow: 1;
}

/*--------------- Hero End ---------------*/

.hero-end {
	height: 263px;
	padding-block: 7.5em;
	position: relative;
	z-index: 1;
}

.hero-end img:nth-of-type(1) {
	height: 100%;
	width: 100%;
	z-index: 100;
}

.hero-end img:nth-of-type(2) {
	width: 750px;
	height: auto;
	position: absolute;
	top: -18em;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
}

@media screen and (max-width: 992px) {
	.arrow {
		display: none;
	}

	.hero-end {
		height: 1em;
	}

	.hero-end img:nth-of-type(1) {
		display: none;
	}

	.hero-end img:nth-of-type(2) {
		width: 80%;
	}
}

@media screen and (max-width: 768px) {
	.hero-end {
		padding-block: 3em;
	}
}

@media screen and (max-width: 576px) {
	.hero-end {
		padding-block: 2em;
	}
}
