@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
}

body, html {
	background-color: #f5f5f5;
	overflow-x: hidden;
}

/* ------------------------		Promotion Banner	---------------------------- */
.promotion-banner {
	background-color: #e30613;
	color: #fff;
	position: relative;
	z-index: 1;
}

.promotion-banner .promotion-banner-bg {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	opacity: 0.2;
}

.promotion-banner .promotion-banner-body {
	display: grid;
	grid-template-columns: 2em 6fr 6fr;
	place-items: center;
	gap: 5em;
	padding-block: 3em;
	padding-left: 4.5em;
	z-index: 3;
}

.promotion-banner .promotion-banner-body .promotion-banner-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: 40px;
	font-size: 1.7em;
	grid-column-start: 2;
}

.promotion-banner .promotion-banner-body .promotion-banner-list h3 {
	font-weight: 700;
	line-height: 1em;
	font-size: 1em;
}

.promotion-banner .promotion-banner-body .promotion-banner-list p {
	font-weight: 200;
	line-height: 1.3em;
	font-size: 0.9em;
	overflow: hidden;
	display: -webkit-box;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.promotion-banner
	.promotion-banner-body
	.promotion-banner-list
	.promotion-banner-list-item {
	display: flex;
	align-items: center;
	gap: 1em;
	font-family: "Marcellus", serif;
	font-weight: 400;
	font-style: normal;
}

.promotion-banner
	.promotion-banner-body
	.promotion-banner-list
	.promotion-banner-list-item:nth-last-of-type(2) {
	position: relative;
	left: 11px;
}

.promotion-banner .promotion-banner-body .promotion-banner-img {
	overflow: hidden;
}

.promotion-banner .promotion-banner-body .promotion-banner-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (max-width: 1400px) {
	.promotion-banner .promotion-banner-body {
		grid-template-columns: 1fr 1fr;
	}

	.promotion-banner .promotion-banner-body .promotion-banner-list {
		grid-column-start: 1;
	}
}

@media screen and (max-width: 992px) {
	.promotion-banner .promotion-banner-body {
		grid-template-columns: 1fr;
		padding-left: 0;
	}

	.promotion-banner .promotion-banner-body .promotion-banner-list {
		padding-inline: 2em;
	}
	.promotion-banner .promotion-banner-body .promotion-banner-img {
		justify-self: end;
	}
}

@media screen and (max-width: 576px) {
	.promotion-banner .promotion-banner-body .promotion-banner-list {
		font-size: 1.4em;
	}
}

/* ------------------------		Categories	---------------------------- */

.categories {
	height: 28em;
	position: relative;
	margin-block: 2em;
}

.categories img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	object-position: center;
}

@media screen and (max-width: 992px) {
	.categories img {
		object-fit: cover;
	}
}

@media screen and (max-width: 768px) {
	.categories {
		display: none;
	}
}

/* ------------------------		Info Banner	---------------------------- */

.info-banner {
	display: flex;
	padding-inline: 3%;
	gap: 2em;
	margin-bottom: 10em;
}

.info-banner > div {
	height: 428.76px;
	border-radius: 0.7em;
	flex: 50%;
}

.info-banner .info-banner-card-1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2.5em;
	position: relative;
	background-color: #a00400;
	z-index: 2;
}

.info-banner .info-banner-card-1 > div {
	padding-inline: 3em;
	width: 50%;
}

.info-banner .info-banner-card-1 > div:nth-of-type(1) {
	padding-top: 2.2em;
	color: #fff;
}

.info-banner .info-banner-card-1 > div:nth-of-type(1) h3 {
	font-size: 2em;
}

.info-banner .info-banner-card-1 > div:nth-of-type(1) p {
	font-size: 0.8em;
	font-weight: 200;
	line-height: 1.7em;
	overflow: hidden;
	line-clamp: 5;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
}

.info-banner .info-banner-card-1 > div:nth-of-type(2) {
	padding-bottom: 1.5em;
}

.info-banner .info-banner-card-1 > div:nth-of-type(2) h4 {
	color: #e30613;
	font-size: 1em;
	line-height: 2.5em;
}

.info-banner .info-banner-card-1 > div:nth-of-type(2) p {
	font-size: 0.75em;
	font-weight: 200;
	line-height: 1.4em;
	overflow: hidden;
	line-clamp: 5;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
}

.info-banner .info-banner-card-1::after {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40%;
	border-top-right-radius: 0.8em;
	border-top-left-radius: 0.8em;
	background-color: #ededed;
	z-index: -1;
}

.info-banner .info-banner-card-1 img:nth-of-type(1) {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.25;
	z-index: -1;
}

.info-banner .info-banner-card-1 img:nth-of-type(2) {
	position: absolute;
	width: calc(100% + 10em);
	height: calc(100% + 10em);
	object-fit: contain;
	top: -10em;
	z-index: 10;
}

.info-banner .info-banner-card-2 {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	color: #fff;
	z-index: 2;
	position: relative;
	background-color: rgba(0, 0, 0, 0.863);
	overflow: hidden;
}

.info-banner .info-banner-card-2 > div {
	padding: 2em;
}

.info-banner .info-banner-card-2 div:nth-of-type(1) h3 {
	font-size: 2em;
	font-weight: 600;
}

.info-banner .info-banner-card-2 div:nth-of-type(1) p {
	font-size: 2em;
	line-height: 1.2em;
	font-weight: 300;
}

.info-banner .info-banner-card-2 div:nth-of-type(1) .info-banner-btns {
	display: flex;
	gap: 0.5em;
	margin-top: 0.6em;
}

.info-banner .info-banner-card-2 div:nth-of-type(1) button {
	border: none;
	border-radius: 30px;
	padding-inline: 20px;
	padding-top: 9px;
	padding-bottom: 5px;
	font-size: 0.9em;
	background-color: #fff;
	cursor: pointer;
	transition: 0.2s all ease-out;
}

.info-banner .info-banner-card-2 div:nth-of-type(1) button:hover,
.info-banner
	.info-banner-card-2
	div:nth-of-type(1)
	button:nth-of-type(1):hover {
	background-color: #1e1e20;
	color: #fff;
}

.info-banner .info-banner-card-2 div:nth-of-type(1) button:hover svg path {
	fill: #fff;
}

.info-banner .info-banner-card-2 div:nth-of-type(1) button .btn-text {
	margin-right: 10px;
	font-size: 0.8em;
}

.info-banner .info-banner-card-2 div:nth-of-type(1) button:nth-of-type(1) {
	background-color: #e30613;
	color: #fff;
}

.info-banner .info-banner-card-2 img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.5;
	filter: blur(0.3px);
	z-index: -1;
}

@media screen and (max-width: 1250px) {
	.info-banner .info-banner-card-1 > div {
		width: 80%;
	}

	.info-banner
		.info-banner-card-1
		> div:is(:nth-of-type(1), :nth-of-type(2))
		p {
		line-clamp: 4;
		-webkit-line-clamp: 4;
	}

	.info-banner .info-banner-card-1 img:nth-of-type(2) {
		display: none;
	}
}

@media screen and (max-width: 992px) {
	.info-banner {
		margin-block: 5em;
		flex-direction: column;
	}
}

@media screen and (max-width: 600px) {
	.info-banner .info-banner-card-2 .info-banner-card-2-logo {
		display: none;
	}
}

/* ------------------------		Featured Cars	---------------------------- */

.featured-cars {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.featured-cars .section-header {
	text-align: center;
}

.featured-cars .section-header h3 {
	color: #e30613;
	font-size: 1.5em;
}

.featured-cars .section-header h2 {
	font-size: 3.3em;
}

.featured-cars .section-header .section-header-btns {
	display: flex;
	gap: 20px;
	margin-top: 2em;
	margin-bottom: 4em;
}

.featured-cars .section-header .section-header-btns button {
	border: none;
	border-radius: 30px;
	padding-inline: 25px;
	padding-top: 12px;
	padding-bottom: 5px;
	font-size: 0.9em;
	background-color: #f6f6f6;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.featured-cars .section-header .section-header-btns button:is(.active, :hover) {
	background-color: #e30613;
	color: #fff;
}

.featured-cars
	.section-header
	.section-header-btns
	button:is(:hover, .active)
	svg
	path {
	fill: white;
}

.featured-cars .section-header .section-header-btns button .btn-text {
	margin-right: 10px;
}

.featured-cars .car-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3em;
	width: 80%;
}

.featured-cars .car-grid .car-card .car-card-img {
	width: 100%;
}

.featured-cars .car-grid .car-card .car-card-img img {
	width: 100%;
	object-fit: cover;
}

.featured-cars .car-grid .car-card .car-card-body .car-card-title {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1.5em;
}

.featured-cars .car-grid .car-card .car-card-body .car-card-title::after {
	content: "";
	position: absolute;
	bottom: -5px;
	width: 3.5em;
	height: 5px;
	background-color: #e30613;
}

.featured-cars .car-grid .car-card .car-card-body .car-card-title h4 {
	font-size: 1.3em;
}

.featured-cars .car-grid .car-card .car-card-body .car-card-title button {
	background-color: #e30613;
	color: #fff;
	border: none;
	padding-inline: 30px;
	padding-top: 9px;
	padding-bottom: 5px;
	font-size: 1.3em;
	font-weight: 600;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.featured-cars .car-grid .car-card .car-card-body .car-card-title button:hover {
	background-color: #1e1e20;
}

.featured-cars .car-grid .car-card .car-card-body .car-build {
	padding-block: 2em;
}

.featured-cars .car-grid .car-card .car-card-body .muted {
	color: #8b8b8b;
}

.featured-cars .car-grid .car-card .car-card-body .seperator {
	border-bottom: 1px dashed #8b8b8b;
}

.featured-cars .car-grid .car-card .car-card-body .car-card-details {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1em;
	color: #8b8b8b;
}

.featured-cars .car-grid .car-card .car-card-body .car-card-details div {
	display: flex;
	align-items: center;
	gap: 10px;
}

@media screen and (max-width: 1250px) {
	.featured-cars .car-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 992px) {
	.featured-cars .car-grid {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 768px) {
	.featured-cars .section-header .section-header-btns {
		flex-direction: column;
		gap: 10px;
		padding-inline: 2em;
		margin-bottom: 2em;
	}

	.featured-cars .section-header .section-header-btns button {
		padding-block: 1em;
	}
}

@media screen and (max-width: 600px) {
	.featured-cars .section-header h3 {
		font-size: 1.1em;
	}

	.featured-cars .section-header h2 {
		font-size: 2.5em;
		line-height: 1em;
		margin-top: 0.3em;
	}

	.featured-cars .section-header .section-header-btns button {
		padding-block: 0.5em;
	}
}

/* ------------------------		Blog	---------------------------- */

.blog {
	margin-block: 8em;
}

.blog .section-header {
	position: relative;
	text-align: center;
}

.blog .section-header h3 {
	color: #e30613;
	z-index: 2;
	font-size: 2em;
}

.blog .section-header h2 {
	font-size: 3.6em;
}

.blog .section-header .section-header-bg-text {
	position: absolute;
	top: -0.6em;
	left: 50%;
	transform: translateX(-50%);
	color: #fafafa;
	font-size: 9em;
	font-weight: 700;
	z-index: -1;
}

.blog .blog-posts {
	display: flex;
	justify-content: center;
	gap: 2.5em;
	padding-inline: 5.5em;
	padding-block: 3em;
}

.blog .blog-posts .blog-author {
	color: #e30613;
	font-size: 1em;
}

.blog .blog-posts .blog-title {
	font-size: 1.4em;
	font-weight: 700;
	max-width: 12em;
}

.blog .blog-posts .blog-list {
	display: flex;
	flex-direction: column;
	gap: 5em;
	border-radius: 2em;
	background-color: #f6f6f6;
	padding-block: 5em;
	padding-inline: 3em;
	flex: 50%;
}

.blog .blog-posts .blog-list .blog-list-item {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 1em;
}

.blog .blog-posts .blog-list .blog-list-item .blog-list-item-img {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}

.blog .blog-posts .blog-list .blog-list-item .blog-list-item-img img {
	border-radius: 50%;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.blog .blog-posts .blog-featured {
	display: flex;
	flex-direction: column;
	gap: 4em;
	border-radius: 2em;
	background-color: #f6f6f6;
	overflow: hidden;
	flex: 50%;
}

.blog .blog-posts .blog-featured .blog-featured-img {
	width: 100%;
	height: 55%;
}

.blog .blog-posts .blog-featured .blog-featured-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.blog .blog-posts .blog-featured .blog-featured-details {
	padding-inline: 3em;
}

.blog .blog-posts .blog-featured .blog-featured-details .blog-author {
	font-size: 1.2em;
}

.blog .blog-posts .blog-featured .blog-featured-details .blog-title {
	font-size: 2em;
	line-height: 1.2em;
}

.blog .blog-posts .blog-featured .blog-featured-details .learn-more-btn {
	font-size: 1.1em;
}

.blog .blog-posts .learn-more-btn {
	min-width: fit-content;
	background-color: #e30613;
	color: #fff;
	border: none;
	border-radius: 2em;
	padding-inline: 30px;
	padding-top: 9px;
	padding-bottom: 5px;
	font-size: 0.9em;
	font-weight: 600;
	cursor: pointer;
	transition: 0.2s ease-in-out;
	margin-top: 1em;
}

.blog .blog-posts .learn-more-btn:hover {
	background-color: #1e1e20;
}

.blog .blog-posts .learn-more-btn svg {
	margin-left: 1em;
}

@media screen and (max-width: 1400px) {
	.blog .section-header .section-header-bg-text {
		font-size: 7em;
	}

	.blog .blog-posts {
		padding-inline: 3em;
	}

	.blog .blog-posts .blog-list {
		padding-inline: 1em;
	}
}

@media screen and (max-width: 1200px) {
	.blog .section-header .section-header-bg-text {
		font-size: 5em;
	}

	.blog .blog-posts {
		padding-inline: 1em;
	}
}

@media screen and (max-width: 992px) {
	.blog .section-header .section-header-bg-text {
		font-size: 4em;
	}

	.blog .blog-posts {
		flex-direction: column;
		padding-inline: 3em;
	}
}

@media screen and (max-width: 768px) {
	.blog .section-header .section-header-bg-text {
		font-size: 3em;
	}

	.blog .blog-posts {
		padding-inline: 1em;
	}

	.blog .blog-posts .blog-list {
		padding-inline: 1em;
		padding-block: 1.3em;
		gap: 2.5em;
	}

	.blog .blog-posts .blog-featured {
		gap: 2em;
	}
}

@media screen and (max-width: 600px) {
	.blog {
		margin-block: 5em;
	}

	.blog .section-header h3 {
		font-size: 1.1em;
	}

	.blog .section-header h2 {
		font-size: 2.5em;
		line-height: 1em;
		margin-top: 0.3em;
	}

	.blog .blog-posts {
		padding-block: 1em;
	}

	.blog .blog-posts .blog-list .blog-list-item {
		flex-direction: column;
	}

	.blog .blog-posts .blog-list .blog-list-item .blog-list-item-img {
		display: none;
	}
}

@media screen and (max-width: 500px) {
	.blog .section-header .section-header-bg-text {
		display: none;
	}

}

/* ------------------------		Contact	---------------------------- */

.contact {
	display: flex;
	justify-content: center;
	width: 80%;
	margin: auto;
	gap: 3em;
}

.contact .contact-form {
	flex: 60%;
}

.contact .contact-form form {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.contact .contact-form form h2 {
	font-size: 2.5em;
	font-weight: 600;
}

.contact .contact-form form .form-group {
	display: flex;
	gap: 3.3em;
}

.contact .contact-form form .form-group input {
	width: 100%;
	border: none;
	border-bottom: 1px solid #d3d3d1;
	background: none;
	padding-block: 0.6em;
	font-size: 1em;
	outline: none;
}

.contact .contact-form form .form-group input::placeholder {
	color: #aaaaaa;
}

.contact .contact-form form label.msg-label {
	color: #aaaaaa;
	margin-bottom: -1.6em;
}

.contact .contact-form form textarea {
	height: 8em;
	background: none;
	border: 1px solid #d3d3d1;
	outline: none;
	padding: 0.6em;
	font-size: 1em;
	resize: none;
}

.contact .contact-form form button[type="submit"] {
	background-color: #1e1e20;
	color: #fff;
	border: none;
	width: fit-content;
	font-size: 1.7em;
	padding-inline: 1.3em;
	padding-block: 0.35em;
	border-radius: 2em;
	cursor: pointer;
	transition: 0.2s all ease-out;
}

.contact .contact-form form button[type="submit"]:hover {
	background-color: #e30613;
}

.contact .contact-form form button[type="submit"] svg {
	margin-left: 2.3em;
}

.contact .contact-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 3.8em;
	background-color: #e30613;
	color: #fff;
	border-top-left-radius: 2em;
	border-bottom-left-radius: 2em;
	flex: 40%;
}

.contact .contact-info h2 {
	font-size: 2em;
	margin-bottom: 1em;
}

.contact .contact-info .contact-info-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1em;
	font-size: 1.45em;
	color: #f87800;
}

.contact .contact-info .contact-info-list :is(a, span) {
	color: #fff;
	text-decoration: none;
}

.contact .contact-info .contact-info-list a:hover {
	color: #1e1e20;
	transition: 0.1s all ease-out;
}

@media screen and (max-width: 1200px)  {
	.contact .contact-form form h2 {
		font-size: 2.2em;
	}

	.contact .contact-form form .form-group input {
		padding-block: 0.3em;
	}

	.contact .contact-form form button[type="submit"] {
		font-size: 1.3em;
	}

	.contact .contact-info h2 {
		font-size: 1.5em;
	}

	.contact .contact-info .contact-info-list {
		font-size: 1.2em;
	}
}

@media screen and (max-width: 992px) {
	.contact {
		width: 90%;
		padding-inline: 2em;
	}

	.contact .contact-info {
		padding-inline: 1em;
	}
}

@media screen and (max-width: 768px) {
	.contact {
		flex-direction: column;
		padding-inline: 1em;
	}

	.contact .contact-form {
		order: 1;
	}

	.contact .contact-form form .form-group {
		flex-direction: column;
	}

	.contact .contact-form form button[type="submit"] {
		font-size: 1.1em;
	}

	.contact .contact-info {
		padding: 3em;
		border-radius: 2em;
	}

	.contact .contact-info h2 {
		margin-bottom: 0.5em;
	}
}

/* ------------------------		Footer		---------------------------- */

footer {
	margin-top: 10em;
	background-color: #1e1e20;
}

footer * {
	color: #fff;
	text-decoration: none;
}

footer .footer-content {
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 14em;
	padding-block: 3em;
	gap: 4em;
}

footer .footer-content .footer-brand {
	flex: 30%;
}

footer .footer-content .footer-brand .social-icons {
	display: flex;
	gap: 1em;
}

footer .footer-content .footer-brand .footer-description {
	font-weight: 300;
	font-size: 1em;
	line-height: 1.7em;
	margin-block: 1em;
}

footer .footer-content .footer-links .footer-links-title {
	font-size: 1.45em;
	font-weight: 600;
}

footer .footer-content .footer-links .footer-links-list-container {
	display: flex;
	justify-content: space-around;
	gap: 5em;
	margin-top: 1.2em;
}

footer
	.footer-content
	.footer-links
	.footer-links-list-container
	.footer-links-list {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 1.2em;
}

footer
	.footer-content
	.footer-links
	.footer-links-list-container
	.footer-links-list
	a {
	text-decoration: none;
	color: #fff;
	font-size: 1em;
	font-weight: 300;
}

footer
	.footer-content
	.footer-links
	.footer-links-list-container
	.footer-links-list
	a:hover {
	transition: 0.1s all ease-out;
	color: #e30613;
}

footer .footer-content .footer-img {
	flex: 20%;
	height: 20em;
}

footer .footer-content .footer-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: left;
}

footer .footer-content .footer-contact {
	display: flex;
	flex-direction: column;
	gap: 1em;
	font-size: 1.2em;
	position: relative;
	top: 1em;
}

footer .footer-content .footer-contact .contact-item {
	display: flex;
	align-items: center;
	gap: .4em;
}

footer .footer-copyright {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2em;
	background-color: #e30613;
	height: 20%;
	font-size: 0.8em;
	font-weight: 300;
}

@media screen and (max-width: 1600px) {
	footer .footer-content {
		padding-left: 5em;
	}

	footer .footer-content .footer-contact {
		font-size: 1.1em;
	}
}

@media screen and (max-width: 1400px) {
	footer .footer-content {
		padding-left: 2em;
	}

	footer .footer-content .footer-brand {
		flex: 20%;
	}

	footer
		.footer-content
		.footer-links
		.footer-links-list-container
		.footer-links-list
		a {
		font-size: 1em;
	}
}

@media screen and (max-width: 1200px) {
	footer .footer-content {
		padding-inline: 2em;
		flex-wrap: wrap;
	}

	footer
		.footer-content
		:is(.footer-brand .footer-description, .footer-contact) {
		font-size: 1em;
	}

	footer .footer-content .footer-img {
		display: none;
	}
}

@media screen and (max-width: 992px) {
	footer .footer-content {
		gap: 2em;
	}

	footer .footer-content .footer-brand {
		flex: 10%;
	}

	footer .footer-content .footer-links .footer-links-list-container {
		gap: 2em;
	}
}

@media screen and (max-width: 768px) {
	footer {
		margin-top: 5em;
	}

	footer .footer-content .footer-links .footer-links-list-container {
		flex: 100%;
		width: 100%;
		justify-content: space-between;
		gap: 5em;
	}

}

@media screen and (max-width: 600px) {
	footer .footer-content .footer-img {
		display: block;
		flex: 100%;
		position: relative;
		left: 2em;
	}

}